---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}
{% block content %}

<div class="container">
	<div class="logo">
		<svg width="140" height="32" viewBox="0 0 180 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M41.682 24.202c4.71 7.256 7.491 12.796 12.022 13.312-8.187-.908-9.073.168-14.983-8.546.93-1.491 1.895-3.073 2.96-4.766z"
			      fill="#744EA1"/>
			<path d="M51.553 32.164c7.021-3.78 6.494-19.065 0-22.53 1.48-1.257 2.939-1.47 4.554-1.122 3.342.718 6.628 5.562 6.628 12.415 0 4.632-1.47 8.58-4.082 11.035-1.997 1.873-5.215 2.109-7.1.202z"
			      fill="#1A1633"/>
			<path d="M31.837 32.288c-3.959 4.755-8.815 5.473-12.942 3.533 2.882-.471 4.778-1.862 6.718-4.083 2.153-2.478 4.396-6.09 7.637-10.856C27.407 12.28 24.76 6.976 18.884 5.99c3.488-1.649 7.469-1.212 10.53 1.155 3.31 2.557 5.99 7.424 10.094 13.738-3.084 4.744-5.518 8.815-7.67 11.406z"
			      fill="#744EA1"/>
			<path d="M41.681 17.573c-1.042-1.67-2.018-3.263-2.95-4.777 5.844-8.613 6.651-7.582 14.962-8.501-4.385.493-6.965 5.506-12.011 13.278z"
			      fill="#1A1633"/>
			<path d="M20.081 41.798l-6.09-1.099C5.672 39.208.412 30.707.019 21.87-.352 12.336 5.053 2.714 13.992 1.1l6.09-1.1C11.176 1.604 5.804 11.249 5.804 21.084c0 5.753 1.862 11.563 5.854 15.88 2.243 2.434 5.148 4.24 8.422 4.834-11.35-2.04-8.904-1.603 0 0z"
			      fill="#744EA1"/>
			<path d="M77.153 25.23c-1.242 0-2.446-.176-3.611-.529-1.15-.353-2.062-.82-2.737-1.403l1.035-2.323c.66.521 1.464.95 2.415 1.288a9.117 9.117 0 002.898.483c1.196 0 2.085-.192 2.668-.575.598-.383.897-.89.897-1.518 0-.46-.169-.836-.506-1.127-.322-.307-.736-.544-1.242-.713a27.945 27.945 0 00-2.07-.575c-1.227-.291-2.223-.583-2.99-.874a5.063 5.063 0 01-1.955-1.357c-.537-.629-.805-1.472-.805-2.53 0-.89.238-1.694.713-2.415.49-.736 1.219-1.319 2.185-1.748.981-.43 2.177-.644 3.588-.644.981 0 1.947.123 2.898.368.95.245 1.771.598 2.461 1.058l-.943 2.323a9.303 9.303 0 00-2.208-.943 8.258 8.258 0 00-2.231-.322c-1.18 0-2.062.2-2.645.598-.567.399-.851.928-.851 1.587 0 .46.161.836.483 1.127.337.291.759.521 1.265.69.506.169 1.196.36 2.07.575 1.196.276 2.177.567 2.944.874a4.845 4.845 0 011.955 1.357c.552.613.828 1.441.828 2.484 0 .89-.245 1.694-.736 2.415-.475.72-1.204 1.296-2.185 1.725-.981.43-2.177.644-3.588.644zm16.083-5.911V25h-2.99v-5.635L83.92 8.9h3.197l4.715 7.843 4.76-7.843h2.945l-6.302 10.419zM116.06 25l-.023-10.672-5.29 8.832h-1.334l-5.29-8.694V25h-2.852V8.9h2.461l6.394 10.672L116.405 8.9h2.461l.023 16.1h-2.829zm18.586-8.372c.89.291 1.595.782 2.116 1.472.522.675.782 1.518.782 2.53 0 1.395-.536 2.476-1.61 3.243-1.073.751-2.637 1.127-4.692 1.127h-8.004V8.9h7.544c1.902 0 3.366.376 4.393 1.127 1.028.736 1.541 1.756 1.541 3.059 0 .797-.184 1.503-.552 2.116a3.78 3.78 0 01-1.518 1.426zm-8.418-5.382v4.439h4.232c1.043 0 1.84-.184 2.392-.552.568-.383.851-.935.851-1.656 0-.736-.283-1.288-.851-1.656-.552-.383-1.349-.575-2.392-.575h-4.232zm4.83 11.408c2.316 0 3.473-.774 3.473-2.323s-1.157-2.323-3.473-2.323h-4.83v4.646h4.83zM140.735 8.9h2.99V25h-2.99V8.9zm14.866 16.33c-1.641 0-3.12-.353-4.439-1.058a8.022 8.022 0 01-3.105-2.967c-.751-1.273-1.127-2.691-1.127-4.255s.376-2.975 1.127-4.232a7.81 7.81 0 013.105-2.967c1.319-.72 2.798-1.081 4.439-1.081s3.12.36 4.439 1.081a7.86 7.86 0 013.105 2.944c.751 1.257 1.127 2.676 1.127 4.255 0 1.58-.376 2.998-1.127 4.255-.751 1.257-1.786 2.246-3.105 2.967-1.319.705-2.798 1.058-4.439 1.058zm0-2.622c1.073 0 2.039-.238 2.898-.713a5.345 5.345 0 002.024-2.024c.491-.874.736-1.848.736-2.921 0-1.073-.245-2.04-.736-2.898a5.139 5.139 0 00-2.024-2.024c-.859-.49-1.825-.736-2.898-.736-1.073 0-2.039.245-2.898.736a5.139 5.139 0 00-2.024 2.024c-.491.859-.736 1.825-.736 2.898 0 1.073.245 2.047.736 2.921a5.345 5.345 0 002.024 2.024c.859.475 1.825.713 2.898.713zm16.831 2.622a12.4 12.4 0 01-3.611-.529c-1.15-.353-2.062-.82-2.737-1.403l1.035-2.323c.66.521 1.465.95 2.415 1.288a9.117 9.117 0 002.898.483c1.196 0 2.086-.192 2.668-.575.598-.383.897-.89.897-1.518 0-.46-.168-.836-.506-1.127-.322-.307-.736-.544-1.242-.713a27.945 27.945 0 00-2.07-.575c-1.226-.291-2.223-.583-2.99-.874a5.065 5.065 0 01-1.955-1.357c-.536-.629-.805-1.472-.805-2.53 0-.89.238-1.694.713-2.415.491-.736 1.219-1.319 2.185-1.748.982-.43 2.178-.644 3.588-.644.982 0 1.948.123 2.898.368.951.245 1.771.598 2.461 1.058l-.943 2.323a9.293 9.293 0 00-2.208-.943 8.253 8.253 0 00-2.231-.322c-1.18 0-2.062.2-2.645.598-.567.399-.851.928-.851 1.587 0 .46.161.836.483 1.127.338.291.759.521 1.265.69.506.169 1.196.36 2.07.575 1.196.276 2.178.567 2.944.874a4.839 4.839 0 011.955 1.357c.552.613.828 1.441.828 2.484 0 .89-.245 1.694-.736 2.415-.475.72-1.203 1.296-2.185 1.725-.981.43-2.177.644-3.588.644z"
			      fill="#1A1633"/>
			<path d="M72.96 29.44v1.48h2.592v1.04H72.96V34h-1.296v-5.6h4.232v1.04H72.96zm4.653-1.04h1.296V34h-1.296v-5.6zm8.601 0V34H85.15l-2.792-3.4V34h-1.28v-5.6h1.072l2.784 3.4v-3.4h1.28zm5.853 4.4h-2.6l-.496 1.2h-1.328l2.496-5.6h1.28l2.504 5.6h-1.36l-.496-1.2zm-.408-.984l-.888-2.144-.888 2.144h1.776zm8.821-3.416V34h-1.064l-2.792-3.4V34h-1.28v-5.6h1.072l2.784 3.4v-3.4h1.28zm4.845 5.696a3.27 3.27 0 01-1.552-.368 2.86 2.86 0 01-1.088-1.032 2.89 2.89 0 01-.392-1.496c0-.555.131-1.05.392-1.488a2.78 2.78 0 011.088-1.032c.464-.25.984-.376 1.56-.376.486 0 .923.085 1.312.256.395.17.726.416.992.736l-.832.768c-.378-.437-.848-.656-1.408-.656-.346 0-.656.077-.928.232-.272.15-.485.36-.64.632a1.9 1.9 0 00-.224.928c0 .347.075.656.224.928.155.272.368.485.64.64.272.15.582.224.928.224.56 0 1.03-.221 1.408-.664l.832.768a2.587 2.587 0 01-.992.744 3.3 3.3 0 01-1.32.256zm8.363-1.136V34h-4.336v-5.6h4.232v1.04h-2.944v1.216h2.6v1.008h-2.6v1.296h3.048zm7.657 1.136a3.27 3.27 0 01-1.552-.368 2.86 2.86 0 01-1.088-1.032 2.89 2.89 0 01-.392-1.496c0-.555.131-1.05.392-1.488a2.78 2.78 0 011.088-1.032c.464-.25.984-.376 1.56-.376.486 0 .923.085 1.312.256.395.17.726.416.992.736l-.832.768c-.378-.437-.848-.656-1.408-.656-.346 0-.656.077-.928.232-.272.15-.485.36-.64.632a1.9 1.9 0 00-.224.928c0 .347.075.656.224.928.155.272.368.485.64.64.272.15.582.224.928.224.56 0 1.03-.221 1.408-.664l.832.768a2.587 2.587 0 01-.992.744 3.3 3.3 0 01-1.32.256zm4.027-5.696h1.296v4.544h2.808V34h-4.104v-5.6zm8.086 5.696c-.8 0-1.424-.221-1.872-.664-.442-.443-.664-1.075-.664-1.896V28.4h1.296v3.088c0 1.003.416 1.504 1.248 1.504.406 0 .715-.12.928-.36.214-.245.32-.627.32-1.144V28.4h1.28v3.136c0 .821-.224 1.453-.672 1.896-.442.443-1.064.664-1.864.664zm8.769-3.008c.32.101.571.272.752.512.181.235.272.525.272.872 0 .49-.192.87-.576 1.136-.379.261-.933.392-1.664.392h-2.896v-5.6h2.736c.683 0 1.205.13 1.568.392.368.261.552.616.552 1.064 0 .272-.067.515-.2.728a1.343 1.343 0 01-.544.504zm-2.824-1.712v1.32h1.288c.32 0 .563-.056.728-.168a.561.561 0 00.248-.496c0-.219-.083-.381-.248-.488-.165-.112-.408-.168-.728-.168h-1.288zm1.512 3.648c.341 0 .597-.056.768-.168.176-.112.264-.285.264-.52 0-.464-.344-.696-1.032-.696h-1.512v1.384h1.512z"
			      fill="#744EA1"/>
		</svg>
	</div>
	<div class="title">Добро пожаловать в Symbios!</div>
	<div class="text">
		<b>Иван Петров</b>, чтобы завершить регистрацию на нашем сервисе. Осталось подтвердить вашу почту!
	</div>
	<div class="medium">
		<div class="medium__text">Нажмите на кнопку ниже для подтверждения почты:</div>
		<a href="#" class="medium__btn">Подтвердить почту</a>
	</div>
	<div class="medium__bottom">Как узнать больше о нас?</div>
	<div class="social">
		<div class="social__text">Изучите личный кабинет и подпишитесь на наши соцсети:</div>
		<ul class="social__list">
			<li>
				<a href="#" class="social__link">
					<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.56497 5.56497C-1.85499 12.9849 -1.85499 25.0151 5.56497 32.435C12.9849 39.855 25.0151 39.855 32.435 32.435C39.855 25.0151 39.855 12.9849 32.435 5.56497C25.0151 -1.85499 12.9849 -1.85499 5.56497 5.56497ZM17.4928 12.7499C18.2536 12.742 18.9978 12.8264 19.3608 12.8368C20.7065 12.8756 20.9442 13.5562 20.927 14.116C20.9018 14.9359 20.3743 18.4043 21.3518 18.7425C22.7761 17.9809 23.7312 15.6153 24.4268 14.116C24.7787 13.3577 24.723 13.32 25.5338 13.319L28.7548 13.314C29.5305 13.3131 29.5002 13.2859 29.7487 13.6027C30.3266 14.3396 27.9249 17.4047 27.1492 18.2522C25.7177 19.8162 26.5529 20.4218 26.7835 20.6367C27.8518 21.6328 28.8841 22.6657 29.5256 23.6183C30.0357 24.3756 29.825 25.0807 29.1763 25.1074L25.7224 25.2501C24.5763 25.2972 22.7941 23.2426 22.5096 22.795C22.2796 22.4258 21.1709 21.963 21.0664 22.9065L20.9204 24.2234C20.8144 25.1648 20.1194 25.1428 19.5707 25.1664C15.7715 25.3299 14.4777 23.8834 12.5645 21.7486C11.1623 19.7656 9.82423 17.7712 8.71542 15.382C8.38353 14.6669 8.20773 14.1423 8.16272 13.5862C8.72064 13.1502 10.6789 13.338 11.9938 13.3091C12.3534 13.3011 12.5961 13.5072 12.7859 13.9175C13.5267 15.5188 14.3345 17.0913 15.4034 18.4817C15.8689 18.9104 16.2804 19.0681 16.4858 18.1963C16.6051 18.1854 16.5955 16.7417 16.6023 15.6526C16.6069 14.9049 16.5191 14.0082 15.2525 13.5944C15.5087 12.9229 16.5147 12.76 17.4928 12.7499Z" fill="#52688B"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="social__link">
					<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.0001 0C8.50675 0 0 8.54231 0 19.0795C0 28.5302 6.84991 36.3569 15.8313 37.8725V23.0601H11.2479V17.7296H15.8313V13.7992C15.8313 9.23877 18.6051 6.7536 22.6569 6.7536C24.5975 6.7536 26.2653 6.89881 26.7494 6.96276V11.7296L23.9391 11.731C21.736 11.731 21.3113 12.7821 21.3113 14.325V17.7269H26.5681L25.8824 23.0573H21.3113V38C30.712 36.8511 38 28.825 38 19.0741C38 8.54231 29.4933 0 19.0001 0Z" fill="#4A598F"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="social__link">
					<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 38C29.4934 38 38 29.4934 38 19C38 8.50659 29.4934 0 19 0C8.50659 0 0 8.50659 0 19C0 29.4934 8.50659 38 19 38Z" fill="#039BE5"/>
						<path d="M8.69383 18.5883L27.013 11.525C27.8632 11.2178 28.6058 11.7324 28.3303 13.0181L28.3319 13.0165L25.2127 27.7114C24.9816 28.7533 24.3625 29.0066 23.4964 28.5158L18.7464 25.015L16.4553 27.2222C16.202 27.4755 15.9882 27.6893 15.4974 27.6893L15.8347 22.8553L24.638 14.9023C25.0212 14.565 24.5525 14.375 24.0474 14.7107L13.1683 21.5602L8.47849 20.0972C7.46041 19.7742 7.43824 19.0791 8.69383 18.5883Z" fill="white"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="social__link">
					<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 38C29.4934 38 38 29.4934 38 19C38 8.50659 29.4934 0 19 0C8.50659 0 0 8.50659 0 19C0 29.4934 8.50659 38 19 38Z" fill="url(#paint0_linear)"/>
						<path d="M19.0003 8.32281C14.6227 8.32281 10.4657 7.9334 8.87793 12.0084C8.22208 13.6914 8.31732 15.8772 8.31732 19.007C8.31732 21.7533 8.22931 24.3346 8.87793 26.0043C10.4621 30.0817 14.6528 29.6911 18.9979 29.6911C23.1898 29.6911 27.5119 30.1275 29.119 26.0043C29.776 24.3044 29.6796 22.1512 29.6796 19.007C29.6796 14.8331 29.9099 12.1386 27.8856 10.1156C25.8361 8.06601 23.0644 8.32281 18.9954 8.32281H19.0003ZM18.043 10.2482C27.1743 10.2337 28.3365 9.21858 27.6951 23.3206C27.4673 28.3083 23.6696 27.7609 19.0015 27.7609C10.4898 27.7609 10.2451 27.5174 10.2451 19.0021C10.2451 10.388 10.9202 10.253 18.043 10.2458V10.2482ZM24.7028 12.0216C23.9951 12.0216 23.4212 12.5955 23.4212 13.3032C23.4212 14.0109 23.9951 14.5848 24.7028 14.5848C25.4105 14.5848 25.9844 14.0109 25.9844 13.3032C25.9844 12.5955 25.4105 12.0216 24.7028 12.0216ZM19.0003 13.5202C15.9706 13.5202 13.5147 15.9773 13.5147 19.007C13.5147 22.0367 15.9706 24.4925 19.0003 24.4925C22.03 24.4925 24.4846 22.0367 24.4846 19.007C24.4846 15.9773 22.03 13.5202 19.0003 13.5202ZM19.0003 15.4456C23.7082 15.4456 23.7142 22.5683 19.0003 22.5683C14.2936 22.5683 14.2863 15.4456 19.0003 15.4456Z" fill="white"/>
						<defs>
							<linearGradient id="paint0_linear" x1="2.55138" y1="35.5243" x2="37.761" y2="5.04483" gradientUnits="userSpaceOnUse">
								<stop stop-color="#FFDD55"/>
								<stop offset="0.5" stop-color="#FF543E"/>
								<stop offset="1" stop-color="#C837AB"/>
							</linearGradient>
						</defs>
					</svg>
				</a>
			</li>
			<li>
				<a href="#" class="social__link">
					<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 38.0001C29.4935 38.0001 38.0001 29.4935 38.0001 19C38.0001 8.50661 29.4935 0 19 0C8.50661 0 0 8.50661 0 19C0 29.4935 8.50661 38.0001 19 38.0001Z" fill="#D42428"/>
						<path d="M32.4345 5.56293C39.8544 12.9835 39.8551 25.0141 32.4345 32.4348C25.0145 39.8547 12.9832 39.8551 5.56262 32.4348L32.4345 5.56293Z" fill="#CC202D"/>
						<path d="M37.7106 22.2873L24.9236 9.50034L23.8921 10.5318L22.8607 9.50034L21.7302 10.6308L22.4895 11.3901L22.2417 11.638L20.2727 9.66896L20.1887 9.75355L17.5353 7.10022L16.4049 8.23068L16.7142 8.54002L16.26 8.99424L14.3473 7.08162L13.5544 7.87452L15.419 12.3649L14.5793 15.8124L16.875 18.1087L11.0685 18.5149L10.9807 28.5909L20.3246 37.9463C29.0797 37.3244 36.2284 30.7759 37.7106 22.2873Z" fill="#BA202E"/>
						<path d="M25.796 23.4055H24.5701L24.5761 22.6939C24.5761 22.3773 24.8356 22.119 25.1533 22.119H25.2319C25.5496 22.119 25.8103 22.3774 25.8103 22.6939L25.796 23.4055ZM21.2 21.8804C20.8901 21.8804 20.6357 22.0895 20.6357 22.3452V25.8058C20.6357 26.0614 20.8901 26.2693 21.2 26.2693C21.5123 26.2693 21.7667 26.0614 21.7667 25.8058V22.3448C21.7667 22.0895 21.5123 21.8804 21.2 21.8804ZM28.6623 19.945V26.528C28.6623 28.1073 27.2931 29.3992 25.6187 29.3992H13.105C11.4303 29.3992 10.0613 28.107 10.0613 26.528V19.945C10.0613 18.3657 11.4303 17.0733 13.105 17.0733H25.619C27.293 17.0733 28.6623 18.366 28.6623 19.945ZM13.9393 27.243L13.9388 20.3084L15.4899 20.309V19.2811L11.3547 19.2748V20.2847L12.6457 20.2886V27.2427H13.9393V27.243ZM18.5896 21.3416H17.2962V25.0444C17.2962 25.5803 17.3283 25.8482 17.2944 25.9424C17.1888 26.2295 16.716 26.5343 16.5321 25.9736C16.5009 25.8752 16.5285 25.5787 16.5279 25.0696L16.5219 21.3413H15.2357L15.2405 25.0107C15.2411 25.5733 15.2276 25.9927 15.2447 26.1835C15.2762 26.5201 15.2645 26.9129 15.5774 27.1364C16.1589 27.5562 17.2743 27.074 17.5533 26.4748L17.5509 27.2393L18.5893 27.2408V21.3416H18.5896ZM22.7271 25.5817L22.7247 22.4997C22.7235 21.3248 21.8451 20.6213 20.6516 21.5717L20.6569 19.2802L19.3648 19.2823L19.3584 27.191L20.4208 27.1754L20.5174 26.6824C21.8756 27.9294 22.7295 27.0756 22.7271 25.5817ZM26.7755 25.1734L25.8053 25.1786C25.8053 25.2173 25.8035 25.2614 25.8028 25.31V25.8512C25.8028 26.1407 25.5637 26.3765 25.273 26.3765H25.0831C24.7918 26.3765 24.5527 26.1407 24.5527 25.8512V25.7912V25.1954V24.4274H26.7734V23.5915C26.7734 22.981 26.7576 22.3704 26.7071 22.0212C26.5484 20.9163 24.9979 20.7411 24.2143 21.3066C23.9683 21.4833 23.7808 21.7197 23.671 22.0377C23.5609 22.3555 23.5063 22.789 23.5063 23.3404V25.178C23.5071 28.2327 27.2174 27.8009 26.7755 25.1734ZM21.8006 15.1961C21.8669 15.3587 21.9705 15.4898 22.1117 15.5894C22.2501 15.6866 22.4283 15.7361 22.6409 15.7361C22.8273 15.7361 22.9925 15.6857 23.136 15.5816C23.2796 15.4781 23.4009 15.3239 23.4993 15.1175L23.4746 15.6252H24.9162V9.494H23.7813V14.2658C23.7813 14.5238 23.568 14.7353 23.3078 14.7353C23.0494 14.7353 22.8355 14.5238 22.8355 14.2658V9.494H21.6513V13.6291C21.6513 14.156 21.6606 14.5073 21.6765 14.6855C21.6935 14.8625 21.734 15.032 21.8006 15.1961ZM17.4318 11.7334C17.4318 11.1448 17.4811 10.6854 17.5783 10.3542C17.6761 10.0238 17.853 9.75836 18.1081 9.55855C18.3631 9.35721 18.6896 9.25675 19.0856 9.25675C19.4189 9.25675 19.7048 9.32242 19.9439 9.45054C20.183 9.57955 20.3687 9.74665 20.4965 9.95336C20.6279 10.1607 20.7161 10.374 20.7638 10.5921C20.8124 10.8129 20.8358 11.1468 20.8358 11.5959V13.1467C20.8358 13.7155 20.8131 14.1337 20.769 14.3996C20.7254 14.666 20.6313 14.9129 20.4854 15.1442C20.3414 15.3735 20.1554 15.5447 19.9298 15.6539C19.7024 15.7647 19.4423 15.8186 19.1476 15.8186C18.8195 15.8186 18.5422 15.7733 18.3145 15.6782C18.0859 15.584 17.9088 15.4418 17.7831 15.2531C17.6553 15.0641 17.5662 14.834 17.5125 14.5658C17.4579 14.2973 17.4321 13.8944 17.4321 13.3568V11.7334H17.4318ZM18.5605 14.1692C18.5605 14.5159 18.8194 14.7995 19.1341 14.7995C19.4488 14.7995 19.7059 14.5163 19.7059 14.1692V10.905C19.7059 10.5582 19.4488 10.2747 19.1341 10.2747C18.8194 10.2747 18.5605 10.5579 18.5605 10.905V14.1692ZM14.5705 15.8171H15.9311L15.9323 11.1147L17.5395 7.08635H16.0518L15.1973 10.079L14.3305 7.07857H12.8587L14.5684 11.1174L14.5705 15.8171Z" fill="white"/>
					</svg>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="bottom">
		<div class="bottom__left">
			<div class="bottom__name">Дмитрий <b>Рассохин</b></div>
			<div class="bottom__position">Генеральный директор</div>
			<a href="mailto:director@symbios.club" class="bottom__email">director@symbios.club</a>
		</div>
		<div class="bottom__middle">
			<a href="#" class="bottom__site">symbios.club</a>
			<a href="tel:8800555353" class="bottom__tel">8-800-555-353</a>
		</div>
		<div class="bottom__logo">
			<svg width="116" height="28" viewBox="0 0 180 42" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M41.682 24.202c4.71 7.256 7.491 12.796 12.022 13.312-8.187-.908-9.073.168-14.983-8.546.93-1.491 1.895-3.073 2.96-4.766z"
				      fill="#744EA1"/>
				<path d="M51.553 32.164c7.021-3.78 6.494-19.065 0-22.53 1.48-1.257 2.939-1.47 4.554-1.122 3.342.718 6.628 5.562 6.628 12.415 0 4.632-1.47 8.58-4.082 11.035-1.997 1.873-5.215 2.109-7.1.202z"
				      fill="#1A1633"/>
				<path d="M31.837 32.288c-3.959 4.755-8.815 5.473-12.942 3.533 2.882-.471 4.778-1.862 6.718-4.083 2.153-2.478 4.396-6.09 7.637-10.856C27.407 12.28 24.76 6.976 18.884 5.99c3.488-1.649 7.469-1.212 10.53 1.155 3.31 2.557 5.99 7.424 10.094 13.738-3.084 4.744-5.518 8.815-7.67 11.406z"
				      fill="#744EA1"/>
				<path d="M41.681 17.573c-1.042-1.67-2.018-3.263-2.95-4.777 5.844-8.613 6.651-7.582 14.962-8.501-4.385.493-6.965 5.506-12.011 13.278z"
				      fill="#1A1633"/>
				<path d="M20.081 41.798l-6.09-1.099C5.672 39.208.412 30.707.019 21.87-.352 12.336 5.053 2.714 13.992 1.1l6.09-1.1C11.176 1.604 5.804 11.249 5.804 21.084c0 5.753 1.862 11.563 5.854 15.88 2.243 2.434 5.148 4.24 8.422 4.834-11.35-2.04-8.904-1.603 0 0z"
				      fill="#744EA1"/>
				<path d="M77.153 25.23c-1.242 0-2.446-.176-3.611-.529-1.15-.353-2.062-.82-2.737-1.403l1.035-2.323c.66.521 1.464.95 2.415 1.288a9.117 9.117 0 002.898.483c1.196 0 2.085-.192 2.668-.575.598-.383.897-.89.897-1.518 0-.46-.169-.836-.506-1.127-.322-.307-.736-.544-1.242-.713a27.945 27.945 0 00-2.07-.575c-1.227-.291-2.223-.583-2.99-.874a5.063 5.063 0 01-1.955-1.357c-.537-.629-.805-1.472-.805-2.53 0-.89.238-1.694.713-2.415.49-.736 1.219-1.319 2.185-1.748.981-.43 2.177-.644 3.588-.644.981 0 1.947.123 2.898.368.95.245 1.771.598 2.461 1.058l-.943 2.323a9.303 9.303 0 00-2.208-.943 8.258 8.258 0 00-2.231-.322c-1.18 0-2.062.2-2.645.598-.567.399-.851.928-.851 1.587 0 .46.161.836.483 1.127.337.291.759.521 1.265.69.506.169 1.196.36 2.07.575 1.196.276 2.177.567 2.944.874a4.845 4.845 0 011.955 1.357c.552.613.828 1.441.828 2.484 0 .89-.245 1.694-.736 2.415-.475.72-1.204 1.296-2.185 1.725-.981.43-2.177.644-3.588.644zm16.083-5.911V25h-2.99v-5.635L83.92 8.9h3.197l4.715 7.843 4.76-7.843h2.945l-6.302 10.419zM116.06 25l-.023-10.672-5.29 8.832h-1.334l-5.29-8.694V25h-2.852V8.9h2.461l6.394 10.672L116.405 8.9h2.461l.023 16.1h-2.829zm18.586-8.372c.89.291 1.595.782 2.116 1.472.522.675.782 1.518.782 2.53 0 1.395-.536 2.476-1.61 3.243-1.073.751-2.637 1.127-4.692 1.127h-8.004V8.9h7.544c1.902 0 3.366.376 4.393 1.127 1.028.736 1.541 1.756 1.541 3.059 0 .797-.184 1.503-.552 2.116a3.78 3.78 0 01-1.518 1.426zm-8.418-5.382v4.439h4.232c1.043 0 1.84-.184 2.392-.552.568-.383.851-.935.851-1.656 0-.736-.283-1.288-.851-1.656-.552-.383-1.349-.575-2.392-.575h-4.232zm4.83 11.408c2.316 0 3.473-.774 3.473-2.323s-1.157-2.323-3.473-2.323h-4.83v4.646h4.83zM140.735 8.9h2.99V25h-2.99V8.9zm14.866 16.33c-1.641 0-3.12-.353-4.439-1.058a8.022 8.022 0 01-3.105-2.967c-.751-1.273-1.127-2.691-1.127-4.255s.376-2.975 1.127-4.232a7.81 7.81 0 013.105-2.967c1.319-.72 2.798-1.081 4.439-1.081s3.12.36 4.439 1.081a7.86 7.86 0 013.105 2.944c.751 1.257 1.127 2.676 1.127 4.255 0 1.58-.376 2.998-1.127 4.255-.751 1.257-1.786 2.246-3.105 2.967-1.319.705-2.798 1.058-4.439 1.058zm0-2.622c1.073 0 2.039-.238 2.898-.713a5.345 5.345 0 002.024-2.024c.491-.874.736-1.848.736-2.921 0-1.073-.245-2.04-.736-2.898a5.139 5.139 0 00-2.024-2.024c-.859-.49-1.825-.736-2.898-.736-1.073 0-2.039.245-2.898.736a5.139 5.139 0 00-2.024 2.024c-.491.859-.736 1.825-.736 2.898 0 1.073.245 2.047.736 2.921a5.345 5.345 0 002.024 2.024c.859.475 1.825.713 2.898.713zm16.831 2.622a12.4 12.4 0 01-3.611-.529c-1.15-.353-2.062-.82-2.737-1.403l1.035-2.323c.66.521 1.465.95 2.415 1.288a9.117 9.117 0 002.898.483c1.196 0 2.086-.192 2.668-.575.598-.383.897-.89.897-1.518 0-.46-.168-.836-.506-1.127-.322-.307-.736-.544-1.242-.713a27.945 27.945 0 00-2.07-.575c-1.226-.291-2.223-.583-2.99-.874a5.065 5.065 0 01-1.955-1.357c-.536-.629-.805-1.472-.805-2.53 0-.89.238-1.694.713-2.415.491-.736 1.219-1.319 2.185-1.748.982-.43 2.178-.644 3.588-.644.982 0 1.948.123 2.898.368.951.245 1.771.598 2.461 1.058l-.943 2.323a9.293 9.293 0 00-2.208-.943 8.253 8.253 0 00-2.231-.322c-1.18 0-2.062.2-2.645.598-.567.399-.851.928-.851 1.587 0 .46.161.836.483 1.127.338.291.759.521 1.265.69.506.169 1.196.36 2.07.575 1.196.276 2.178.567 2.944.874a4.839 4.839 0 011.955 1.357c.552.613.828 1.441.828 2.484 0 .89-.245 1.694-.736 2.415-.475.72-1.203 1.296-2.185 1.725-.981.43-2.177.644-3.588.644z"
				      fill="#1A1633"/>
				<path d="M72.96 29.44v1.48h2.592v1.04H72.96V34h-1.296v-5.6h4.232v1.04H72.96zm4.653-1.04h1.296V34h-1.296v-5.6zm8.601 0V34H85.15l-2.792-3.4V34h-1.28v-5.6h1.072l2.784 3.4v-3.4h1.28zm5.853 4.4h-2.6l-.496 1.2h-1.328l2.496-5.6h1.28l2.504 5.6h-1.36l-.496-1.2zm-.408-.984l-.888-2.144-.888 2.144h1.776zm8.821-3.416V34h-1.064l-2.792-3.4V34h-1.28v-5.6h1.072l2.784 3.4v-3.4h1.28zm4.845 5.696a3.27 3.27 0 01-1.552-.368 2.86 2.86 0 01-1.088-1.032 2.89 2.89 0 01-.392-1.496c0-.555.131-1.05.392-1.488a2.78 2.78 0 011.088-1.032c.464-.25.984-.376 1.56-.376.486 0 .923.085 1.312.256.395.17.726.416.992.736l-.832.768c-.378-.437-.848-.656-1.408-.656-.346 0-.656.077-.928.232-.272.15-.485.36-.64.632a1.9 1.9 0 00-.224.928c0 .347.075.656.224.928.155.272.368.485.64.64.272.15.582.224.928.224.56 0 1.03-.221 1.408-.664l.832.768a2.587 2.587 0 01-.992.744 3.3 3.3 0 01-1.32.256zm8.363-1.136V34h-4.336v-5.6h4.232v1.04h-2.944v1.216h2.6v1.008h-2.6v1.296h3.048zm7.657 1.136a3.27 3.27 0 01-1.552-.368 2.86 2.86 0 01-1.088-1.032 2.89 2.89 0 01-.392-1.496c0-.555.131-1.05.392-1.488a2.78 2.78 0 011.088-1.032c.464-.25.984-.376 1.56-.376.486 0 .923.085 1.312.256.395.17.726.416.992.736l-.832.768c-.378-.437-.848-.656-1.408-.656-.346 0-.656.077-.928.232-.272.15-.485.36-.64.632a1.9 1.9 0 00-.224.928c0 .347.075.656.224.928.155.272.368.485.64.64.272.15.582.224.928.224.56 0 1.03-.221 1.408-.664l.832.768a2.587 2.587 0 01-.992.744 3.3 3.3 0 01-1.32.256zm4.027-5.696h1.296v4.544h2.808V34h-4.104v-5.6zm8.086 5.696c-.8 0-1.424-.221-1.872-.664-.442-.443-.664-1.075-.664-1.896V28.4h1.296v3.088c0 1.003.416 1.504 1.248 1.504.406 0 .715-.12.928-.36.214-.245.32-.627.32-1.144V28.4h1.28v3.136c0 .821-.224 1.453-.672 1.896-.442.443-1.064.664-1.864.664zm8.769-3.008c.32.101.571.272.752.512.181.235.272.525.272.872 0 .49-.192.87-.576 1.136-.379.261-.933.392-1.664.392h-2.896v-5.6h2.736c.683 0 1.205.13 1.568.392.368.261.552.616.552 1.064 0 .272-.067.515-.2.728a1.343 1.343 0 01-.544.504zm-2.824-1.712v1.32h1.288c.32 0 .563-.056.728-.168a.561.561 0 00.248-.496c0-.219-.083-.381-.248-.488-.165-.112-.408-.168-.728-.168h-1.288zm1.512 3.648c.341 0 .597-.056.768-.168.176-.112.264-.285.264-.52 0-.464-.344-.696-1.032-.696h-1.512v1.384h1.512z"
				      fill="#744EA1"/>
			</svg>
		</div>
	
	</div>

</div>


{% endblock %}
