.container {
  text-align: center;
  padding: 15px 25px;
}

.logo {

}

.title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  color: rgba(#744ea1, .9);
  border-bottom: solid 2px rgba(#744ea1, .1);
  padding-bottom: 15px;
  margin: 62px 0 24px;
}

.text {
  font-size: 16px;
  line-height: 1.45;
  color: #1e2254;
}

.medium {
  margin: 30px 0 75px;
  &__text {
    font-size: 12px;
    line-height: 1.6;
    color: #7d90a5;
  }

  &__btn {
    margin-top: 7px;
    border-radius: 4em;
    background: #744ea1;
    background-color: #744ea1;
    display: inline-block;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    max-width: 333px;
    width: 100%;
  }

  &__bottom {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.44;
    color: #744ea1;
    border-bottom: solid 2px rgba(#744ea1, .1);
    padding-bottom: 15px;
    margin-bottom: 21px;
  }
}

.social {

  &__text {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    color: #344152;
    margin-bottom: 17px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: block;
    text-decoration: none;
    margin: 0 6px;
    line-height: 0;
  }
}

.bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 66px;
  padding-top: 17px;
  border-top: solid 2px #744ea1;
  text-align: left;
  line-height: 1;

  &__left {
    margin-right: 39px;
  }

  &__name {
    font-size: 14px;
    font-weight: normal;
    color: #744ea1;
    b{
      font-weight: bold;
    }
  }

  &__position{
    margin: 6px 0 6px;
    font-size: 12px;
    color: rgba(#000, .8);
  }

  &__email{
    font-size: 12px;
    font-weight: 300;
    color: rgba(#000, .7);
    text-decoration: none;
  }

  &__site {
    display: table;
    font-size: 12px;
    font-weight: 300;
    color: rgba(#000, .4);
    text-decoration: none;
  }

  &__tel {
    font-size: 12px;
    font-weight: 300;
    color: rgba(#000, .7);
    text-decoration: none;
    margin-top: 2px;
    display: table;
  }

  &__logo {
    margin-left: auto;
  }
}
