@charset "utf-8";

@import "variables";         /* переменные */

.body,
body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  //background-color: $bg-color;
}

@import "typo";              /* типографика */
@import "layout";            /* разметка письма */
@import "buttons";           /* кнопки */
@import "content";           /* стили контент-блоков */
