
.webkit {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  //background-color: $bg-color;
}

.layout {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  //background-color: $bg-color;
  //border: $bg-color 8px solid;
  font-size: 0;
  padding: 0;
  //text-align: center;
}

.wrapper {
  Margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 620px;
  width: 100%;
}

.content {
  background-color: #fff;
  //border-bottom: $bg-color 1px solid;
  //border-top: $bg-color 1px solid;
  font-size: 0;
  padding: 0;
  text-align: center;
  //border-radius: 6px;
  //box-shadow: #d7d7d7 0 2px 2px;
}

.column {
  display: inline-block;
  max-width: 620px;
  vertical-align: top;
  width: 100%;
}

.cell {
  font-size: 16px;
  padding: 16px 0;
  text-align: left;
}

.preheader {
  padding: 0;

  & > p {
    color: #657195;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.footer {
  font-size: 0;
  padding: 32px 16px;
  text-align: center;

  & p {
    color: #657195;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    & a {
      color: #4b35fb !important;
      border-bottom: lighten(#4b35fb, 25%) 1px solid;
      text-decoration: none;
    }
  }
}
